/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

div[data-testid='circles-loading'] {
  justify-content: center;
}
